   <!--  <div id="footer">
     <div class="container">
      </div>
    </div id="footer">-->
    {% include JB/analytics %}
    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/js/bootstrap.min.js"></script>
   
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Karla:400,400italic,700,700italic:latin','Oswald:400:latin','Bitter::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>