   <div id="footer">
     <div class="container">
      </div>
    </div id="footer">
    {% include JB/analytics %}
    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/js/bootstrap.min.js"></script>

    <!-- <script src="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/js/youtube.js"></script>-->
     <!--<script src="{{ site.baseurl }}/assets/themes/bootstrap-3/bootstrap/js/gyoutube.js"></script>
     <script type="text/javascript">optimizeYouTubeEmbeds()</script>-->
